@media (max-width: 425px) {
    body {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        height: 100vh;
        padding: 33px;
        background: url('../images/bg-mobile.svg') no-repeat;
        background-size: 100%;
        background-color: var(--background-color);
        gap: 20px;

    }

    .header img{
        max-height: 32px;
    }

    .ilustracao {
        margin-top: 0px;
        padding: 4px;
    }

    .ilustracao img {
        width: 100%;
    }

    .texto {
        padding: 0;
        margin-top: 0px;
    }

    .texto .titulo{
        font-size: 24px;
        text-align: center;
    }

    .texto .paragrafo {
        margin: 14px 5px;
        text-align: center;
        font-size: 16px;
        line-height: 25px;
    }

    .texto .botao {
        display: flex;
        justify-content: center;
    }

    .texto .botao a {
        margin-top: 9px;
        height: 40px;
        font-size: 13px;
    }

    .social {
        display: flex;
        justify-content: center;
        font-size: 15px;
        gap: 8px;
        margin-top: 0px;
        margin-bottom: 0px;
    }
    
    .social a {
        height: 30px;
        width: 30px;
    }
}